<div id="flag_tools">
	<div class="content_heading silver_gradient">Flag Tools</div>
	<div class="segment_contents">
		<div class="fields">
			<label>Filter Line Flags</label>
			{{view Ember.Select contentBinding="controller.content.flags" prompt="Filter Flags" class="select"}}
		</div>
	</div>
</div>