<div id="claim_history">
	<div class="content_heading silver_gradient">Patient Claim History <span class="heading_details">Patient Seq 440740 | Provider Seq 414995</span></div>
	<div class="segment_contents">
		<div class="tool_bar full_section full_box">
			<div class="inline_input_group">
		    <span class="inline_input_set">
		      <input value="all_history" name="patient_claim_history" type="radio" class="all_history">
		      <label>All</label>
		    </span>
		    <span class="inline_input_set">
		      <input value="history_12" name="patient_claim_history" type="radio" class="history_12">
		      <label>12 Months</label>
		    </span>
		    <span class="inline_input_set">
		      <input value="history_60" name="patient_claim_history" type="radio" class="history_60">
		      <label>60 Days</label>
		    </span>
		    <span class="inline_input_set">
		      <input value="history_SD" name="patient_claim_history" type="radio" class="history_SD">
		      <label>Same Day</label>
		    </span>
		    <span class="inline_input_set">
					<input value="history_PH" name="patient_claim_history" type="radio" class="history_PH">
		      <label>Provider History</label>
		    </span>
			</div>
		</div>
		<ul class="line_items">
			{{#times 10 }}
			<li class="line_item no_icon full_box">
				<ul class="item_meta">
					<li class="item_title ">CULTURE BACTERIA OTHER</li>
					<li class="item_detail nucleus_red bold">UNB</li>
				</ul>
				<ul class="item_details">
					<li class="item_detail">03/12/2013</li>
					<li class="item_detail">POS: 81</li>
					<li class="item_detail">Sp: 97</li>
					<li class="item_detail">Dx: 462</li>
				</ul>
			</li>
			<li class="line_item no_icon full_box odd">
				<ul class="item_meta">
					<li class="item_title">CULTURE BACTERIA OTHER</li>
					<li class="item_detail nucleus_red bold">UNB</li>
				</ul>
				<ul class="item_details">
					<li class="item_detail">03/12/2013</li>
					<li class="item_detail">POS: 81</li>
					<li class="item_detail">Sp: 97</li>
					<li class="item_detail">Dx: 462</li>
				</ul>
			</li>	
			{{/times}}						
		</ul>
	</div>
</div>