<header class='content_heading silver_gradient'>Dx Codes</header>
<ul>
	{{#each dxCodes }}
	<li class="sidebar_item">{{ firstService }} <a href="">{{ dxCode }}</a>
		<p>{{ codeDescription }}</p>
	</li>
	{{/each }}
</ul>