<div id="dx_codes" class="data_grid">
	<ul class="data_heading black_gradient">
		<li class="data_cell_head">First Dx Date</li>
		<li class="data_cell_head">Dx Code</li>
	</ul>
	{{#each dxCodes }}
		<ul class="data_content">
			<li class="data_cell">{{ firstService }}</li>
			<li class="data_cell"><a href="">{{ dxCode }}</a>{{ codeDescription }}</li>
		</ul>
	{{/each}}						
</div>