<div id="dx_codes" class="data_grid">
	{{#each dxCodes }}
		<ul class="data_content">
			<li class="data_cell">{{ firstService }}</li>
			<li class="data_cell"><a href="">{{ dxCode }}</a>{{ codeDescription }}</li>
		</ul>
	{{/each}}						
</div>