<div class="view_segment full_box">
	<div class="content_heading silver_gradient">Claim Lines</div>
	<div class="tool_bar full_section full_box">
		<a href="">Dx Codes</a>
	</div>
	<ul class="object_list line_items">
		{{ partial 'claims/lines/line' }}
	</ul>
</div>