<label class="search_label ">Quick Search</label>
<select class="select quick_select" name="quick_select">
	<option value="selected">Quick Search Claims</option>
	<option value="Value 1">Option 1</option>
  <option value="Value 2">Option 2</option>
  <option value="Value 3">Option 3</option>
</select>