{{#each claim in controller }}
	<li class="sidebar_item full_box">
		<span>{{#linkTo 'claim' claim}}{{ claim.claimSeq }}{{/linkTo}}
		</span>
		<ul class="actions">
			{{#if claim.hasDocuments }}
				<li class="icon small_icon documents"></li>
			{{/if}}
			{{#if claim.isLocked }}
				<li class="icon small_icon lock"></li>
			{{/if}}
		</ul>
	</li>
{{/each}}