<div id="search_top" class="full_box search_panel_segment">
	<div class="select_wrap">
		{{ partial "claims/claimQuickSearch" }}		
	</div>
</div>
<div id="results">
	<ul>
		{{ partial "claims/claimSidebarList" }}		
	</ul>
</div>