<div class="client_info meta_segment">
	<ul class="meta_details">
		{{#each clientDetail in claim.clientDetails }}
			<li class="meta_detail">
				<span>{{clientDetail.title}}</span>
				<span>{{clientDetail.value}}</span>
			</li>
		{{/each}}																				
	</ul>								
</div>	