<div id="meta_data" class="full_box">
	{{ partial 'meta_data' }}
</div>
<div id="data_list_views" class="full_box">
	{{ partial 'claims/lines/lines' }}
	{{ partial 'claims/claim_history/index'}}
</div>