	<div id="footer" class="full_section full_box">
		© {{copyright_date}} Verisk Health Inc. | CPT® © {{copyright_date}} American Medical Association. | Current Dental Terminology. © {{copyright_date}} American Dental Association. | All rights reserved.
	</div>
	<div class="clear"></div>