	<div id="header" class="full_section header_footer_color full_box">
		<div id="logo" class="icon"></div>
		<div id="client_block">{{current_client}}</div>
		<div id="user_block">Welcome {{current_user}}</div>
	</div>