<div id="meta_data" class="full_box">
	<div id="notification" class="full_box error">This is a dynamic strip for notifications - displays and hides</div>
	<div class="content_heading silver_gradient">{{ metaTitle }}<span class="heading_details">{{ secondary }}</span></div>
	<div class="detail_view">
		<div id="claim_details">
			{{ partial 'claims/claimMeta' }}
			{{ partial 'claims/clientMeta' }}
		</div>
	</div>
	<div class="detail_view">
		<div id="dx_codes" class="data_grid">
			<ul class="data_heading black_gradient">
				<li class="data_cell_head">First Dx Date</li>
				<li class="data_cell_head">Dx Code</li>
			</ul>
			<ul class="data_content">
				<li class="data_cell">03/14/2012</li>
				<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
			</ul>
			<ul class="data_content odd">
				<li class="data_cell">03/14/2012</li>
				<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
			</ul>
			<ul class="data_content">
				<li class="data_cell">03/14/2012</li>
				<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
			</ul>													
		</div>						
	</div>
</div>