<div id="content" class="full_section">
	<div id="master_tool_bar" class="full_section silver_gradient full_box">
	<ul id="master_tools" class="tool_segment">
		<li class="button">{{#linkTo 'claims'}}Claims{{/linkTo}}</li>
		<li class="button">Appeals</li>
		<li class="button">Logics</li>
	</ul>
	<ul id="view_tools" class="tool_segment">
		<li class="button">L</li>
		{{#view Nucleus.FlagManagerButtonView }} {{ view.buttonText }} {{/view}}
	</ul>
	<ul id="sub_tools" class="tool_segment">
		<li class="button">A</li>
		<li class="button">D</li>
		<li class="button">N</li>
	</ul>
	<ul id="settings_tools" class="tool_segment">
		<li class="button">Settings</li>
		<li class="button red_button">Logout</li>
	</ul>						
</div>
<div id="stage" class="full_section">
	{{ outlet }}
</div>