{{#with controller.metaDataObject }}
	<div class="content_heading silver_gradient">Line Details<span class="heading_details">{{ description }} - {{ dos }}</span></div>
	<div class="detail_view">
		{{ partial 'claims/lines/line_meta' }}
	</div>
{{/with}}
