<div id="nucleus">
	<div id="header" class="full_section black_gradient full_box">
	<div id="logo"></div>
		<div id="client_block">{{current_client}}</div>
		<div id="user_block">Welcome {{current_user}}</div>
	</div>
	<script type="text/x-handlebars" data-template-name="sidebar">{{yield}}</script>
	<script type="text/x-handlebars" data-template-name="meta_info">{{yield}}</script>
	<script type="text/x-handlebars" data-template-name="panel_main">{{yield}}</script>
	<script type="text/x-handlebars" data-template-name="panel_secondary">{{yield}}</script>
</div>